body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.program-editor textarea {
	width: 250px;
	height: 100px;
	display: block;
}
.program-editor .error-message {
	display: block;
}
.program-editor.valid .error-message {
	color: green;
}
.program-editor.invalid .error-message {
	color: red;
}

.tableau {
	border-collapse: collapse;
	display: block;
	margin: 10px;
}
.tableau thead {
	border-bottom: 1px solid black;
}
.tableau td, .tableau th {
	padding: 0px 4px;
	text-align: center;
	border-left: 1px solid black;
}
.tableau td:first-child, .tableau th:first-child {
	border-left: 0px;
}

.program {
	display: inline-block;
	border: 1px dashed black;
	padding: 5px;
	margin: 12px;
}
.program .obj {
}
.program .obj .minmax {
}
.program .con {
}
.program .con .subject-to {
	display: none;
/*	color: grey;*/
}
.program .vars {
}
.program .vars .restriction {
}
