body {
  font-family: sans-serif;
  max-width: 1024px;
  padding: 0px;
  margin: auto;
}
header {
	text-align: center;
	margin: 2em 0px;
}
header h1 {
	font-size: 3em;
	margin-bottom: .5em;
}
header h2 {
	font-size: 1.25em;
	color: grey;
}
header a {
}
#root {
	margin: 10px;
}
footer {
	text-align: center;
	margin: 1em;
	color: grey;
}

.ui-input, .ui-steps {
	display: block;
	border: 1px solid black;
	border-radius: 6px;
}

.ui-input {
	margin-bottom: 2em;
}
.ui-input > * {
	display: block;
	margin: 20px;
}
.ui-input h3 {
	font-weight: normal;
}

.ui-steps {
}

.step-list legend {
	margin-left: 1.5em;
}
.step {
	margin-top: 2em;
}
.step:first-child {
	margin-top: 0px;
}
.step .how {
	margin: 15px 0px;
	padding: 0px 15px;
	border-left: 4px solid grey;
}

.program-editor textarea {
	display: block;
	box-sizing: border-box;
	margin: 1em 0px;
	width: 100%;
	height: 10em;
}
.program-editor .error-message {
	display: block;
}
.program-editor.valid .error-message {
	color: green;
}
.program-editor.invalid .error-message {
	color: red;
}

.tableau {
	display: block;
	border-collapse: collapse;
	display: block;
	margin: 10px;
}
.tableau thead {
}
.tableau td, .tableau th {
	padding: 0px 4px;
	text-align: center;
}
.tableau th.tableau-cell {
	border-bottom: 1px solid black;
}
.tableau .tableau-cell + .tableau-cell {
	border-left: 1px solid black;
}

.tableau .row-selected .tableau-cell {
	background-color: #ccccff;
}
.tableau .col-selected.tableau-cell {
	background-color: #ffcccc;
}
.tableau .row-selected .col-selected.tableau-cell {
	background-color: #ff88ff;
}

.program {
	display: block;
}
.program > div {
	display: inline-block;
	border: 1px dashed black;
	padding: 5px;
	margin: 12px;
}
.program .obj {
}
.program .obj .minmax {
}
.program .subject-to {
	display: none;
/*	color: grey;*/
}
.program .con {
}
.program .restrictions {
}
.program .restrictions .vars {
}
.program .restrictions .restrict {
}



.step.standardizeProgram .how .con {
	display: inline;
}